@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Special+Elite&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font-highlight: 'Special Elite';
    --font-content: 'Open Sans', sans-serif;
    --taupe: #85796D;
    --light-taupe: #CDBCAB;
    --dusty-rose: #C7ADAB;
    --soft--peach: #E8D2C3;
    --charcoal: #393135;
    --ash-brown: #564E4C;
    --misty-mauve: #B19A99;
    --snow-white: #F1F1F1;
    --white: #FFFFFF;
}
body{
    font-family: var(--font-content);
    overflow-x: hidden;  
}

header{
    /* background-image: linear-gradient(to top, var(--charcoal), var(--ash-brown)); */
    border: 1px solid white;
    display: grid;    
    grid-template-columns: 1fr;
} 
nav{
    display: grid;
    grid-template-columns: repeat(auto, 1fr auto);
    padding: 2rem;
    width:100vw;
  }

  #logo img{
    grid-column: 1/2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
ul {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li{
    margin-left: 2rem;
}

  form{
    grid-column: 3/4;
    display: flex;
    
    margin-right: 10rem;
  }
  #button-search{
    background-color: var(--taupe);
    font-family: var(--font-content);
    font-weight: 500;
    color: var(--snow-white);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: none;
    margin-top: 0.4rem;
    padding: 8px;
    width: 8rem;
    height: 2.2rem;
  }
  #pesquisa{
    height: 2.2rem;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 1px solid var(--dusty-rose);
    margin-top: 8px;
  }


li{
    margin-top: 2rem;
    list-style-type: none;
    display: flex;
    justify-content: end;
    font-weight: 500;
}

li a{
    text-decoration: none;
    color: var(--charcoal);
}
li a:hover{
    color: var(--taupe);
}

h1{
    display: flex;
    justify-content: center;
    font-family: var(--font-highlight);
    color: var(--charcoal);
    font-weight: lighter;
    font-size: 3rem;
    margin: 2rem;
}

main{
    width: 90vw;
    margin: auto;
    background-color: white;
    border: 2px solid blueviolet;
    overflow: hidden;

}

.losango img{
    width: 12%; 
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
    width: 25rem;
    height: 31.25rem;
    max-width: 90%;
    min-width: 10rem;
    border: 0.5px solid var(--ash-brown);
    position: absolute;
    top: 24rem;
    left: 20rem;
    z-index: 1;

}

.grid-item{
    border: 0.5px solid var(--ash-brown);
}

.foto-1{
    margin-left: 15rem;
}

.foto-1 img{
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem;
    width: 23.75rem;
    max-width: 100%;
    position: relative;
    z-index: 2;
}

#txt1{
    margin: 2rem;
}

#conteudo {
    align-content: center;
}

h2{
    font-family: var(--font-highlight);
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: 2rem;
    margin: 2rem;
}

#conteudo-2{
    background-color: var(--charcoal);
    color: var(--snow-white);
}

article{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    position: relative;
}

article > h2 {
    grid-column: 1 /2 ;
    grid-row: 1/ 2;
}

article > p{
    grid-column: 1/ 2;
    grid-row: 2/3;
    margin-left: 3rem;
    text-align: left;
    line-height: 2rem;
}

#button-comment {
    grid-column: 1/2;
    grid-row: 3/4;
    background: linear-gradient(to bottom, var(--dusty-rose), var(--taupe));
    font-family: var(--font-content);
    font-weight: 500;
    color: var(--snow-white);
    border-radius: 40px;
    border: none;
    padding: 0px;
    width: 7rem;
    height: 3rem;
    margin-left: 3rem;

}

#button-comment:hover{
    background: var(--taupe);
}


#big-grid {
    grid-column: 2/3;
    grid-row: 1/4;
    position: relative;
    z-index: 1;
    margin-top: 1rem;
    width: 550px;
    height: 400px;

}

#img-livro{
    grid-column: 2/3;
    grid-row: 1/4;
    width: 50%;
    /* border: 1px solid black; */
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;

    z-index: 2;
    
}

#img-livro img { 
    margin-left: 12rem;
    width: 20rem; 
    height: 30rem; 
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    z-index: 3;
}

#videos{
    background-color: var(--snow-white);
}

iframe{
    margin: 2rem;
}

#videos{
  display: flex;
  justify-content: center;  
}

#autores{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--taupe);
    color: var(--snow-white);
}

.card-autor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    margin: 3rem;
}

#autores h3{
    font-family: var(--font-highlight);
    font-size: 1.5rem;
    font-weight: lighter;
}
.autor{
    display: flex;
    justify-content: center;
}
.autor img{
    width: 10rem;
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

}


@media  screen and (max-width: 480px) {
    
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
}

@media screen and (min-width: 769px) and (max-width: 1279px){
    
}

@media screen and (min-width: 1280px){
    
}
